
* @lostdawg3

# CODEOWNERS file
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The following example assumes 'lostdawg3' shoudl be the code onwer for specific directories and file types. 

# To make 'lostdawg3' the default owner for everything in the repo   (remove the # below for the next line)
#      *      @lostdawg3

# To specify code ownership for specific directories (remove the # below for the next 2 lines)
#      /docs/        @lostdawg3
#      /src/         @lostdawg3

# To specify code ownership for specific file types  (remove the # below for the next 2 lines)
#    *.js          @lostdawg3
#    *.swift       @lostdawg3

# To add more code owners, repeat the pattern above with the directory, file pattern, or specific file, followed by the owner.
# You can also specify GitHub teams as owners using the @orgname/teamname syntax.

# Example for specifying a team (replace 'team-name' with the actual team name)  (remove the # below for the next line)
#    /docs/      @lostdawg3

# Remember to replace 'lostdawg3' with the actual GitHub username and adjust the directories and file types according to your project's structure.



